## 판다스의 데이터 타입

### Series: index와 value로 이뤄진 데이터 타입, 1차원 배열
    - 딕셔너리를 사용한 생성(리스트 -> 시리즈)
    - 리스트를 사용한 생성(딕셔너리 -> 시리즈)
    - 시리즈 index 설정 1
    - 시리즈 index 설정 2
    - 시리즈 원소 선택 1 - index 지정 선택
    - 시리즈 원소 선택 2 - index 범위 선택

In [3]:
import pandas as pd

In [19]:
# 리스트 -> 시리즈
data1 = ['파이썬', 'a+', 98, '데이터 사이언스']
sr1 = pd.Series(data1)
sr1

0         파이썬
1          a+
2          98
3    데이터 사이언스
dtype: object

In [4]:
# 딕셔너리 -> 시리즈
data2 = {'a': 1, 'b': 2, 'c': 3}
sr2 = pd.Series(data2)
sr2

a    1
b    2
c    3
dtype: int64

In [21]:
# 시리즈 index 설정 1
sr1.index = ['프로그래밍', '성적', '점수', '과목']
sr1

프로그래밍         파이썬
성적             a+
점수             98
과목       데이터 사이언스
dtype: object

In [22]:
# 시리즈 index 설정 2
sr2 = pd.Series(data2, index=list('abc'))
sr2

a    1
b    2
c    3
dtype: int64

In [5]:
# 시리즈 원소 선택 1 - index 지정 선택
sr2[0], sr2['b']

(1, 2)

In [8]:
# 시리즈 원소 선택 2 - index 범위 선택
sr2[[1,2]], sr2[1:3]

(b    2
 c    3
 a    1
 dtype: int64,
 b    2
 c    3
 dtype: int64)

### DataFrame: index, column, value로 이뤄진 데이터 타입, 2차원 배열
    - 딕셔너리를 사용한 생성(리스트 딕셔너리 -> 데이터 프레임)
    - 리스트를 사용한 생성(딕셔너리 리스트 -> 데이터 프레임)
    - 데이터 프레임 index 설정 1
    - 데이터 프레임 index 설정 2
    - 데이터 프레임 column, index 변경
    - 데이터 프레임 index 수정 및 추가
    - 데이터 프레임 column 추가
    - 데이터 프레임 column 수정
    - 데이터 프레임 column 선택
    - 데이터 프레임 row 선택
    - 데이터 프레임 타입 확인
    - 데이터 프레임 타입 수정
    - 상위 데이터 출력
    - 하위 데이터 출력

In [154]:
# 리스트 딕셔너리 -> 데이터 프레임
data1 = [
    {'name': 'righteous', 'email': 'righteous@gmail.com'},
    {'name': 'olivevolcano', 'email': 'olivevolcano@naver.com'}
]
df1 = pd.DataFrame(data1)
print(df1)

           name                   email
0     righteous     righteous@gmail.com
1  olivevolcano  olivevolcano@naver.com

In [155]:
# 딕셔너리 리스트 -> 데이터 프레임
data2 = {
    'name': ['righteous', 'olivevolcano'],
    'email': ['righteous@gmail.com', 'olivevolcano@naver.com']
}
df2 = pd.DataFrame(data2)
print(df2)

           name                   email
0     righteous     righteous@gmail.com
1  olivevolcano  olivevolcano@naver.com

In [156]:
# 데이터 프레임 index 설정 1
df = pd.DataFrame(data2, index=['a', 'b'])
print(df)

           name                   email
a     righteous     righteous@gmail.com
b  olivevolcano  olivevolcano@naver.com

In [157]:
# 데이터 프레임 index 설정 2
df = pd.DataFrame(data2, index=list('ab'))
print(df)

           name                   email
a     righteous     righteous@gmail.com
b  olivevolcano  olivevolcano@naver.com

In [158]:
# 데이터 프레임 column, index 변경
df.rename(columns={'name':'name2', 'email':'email2'}, inplace=True)
df.rename(index={'a': 'c', 'b': 'd'}, inplace=True)
print(df)

          name2                  email2
c     righteous     righteous@gmail.com
d  olivevolcano  olivevolcano@naver.com

In [159]:
# 데이터 프레임 row 추가
df.loc['e'] = {'name2': 'dead_pp', 'email2':'deap_pp@nate.com'}
print(df)

          name2                  email2
c     righteous     righteous@gmail.com
d  olivevolcano  olivevolcano@naver.com
e       dead_pp        deap_pp@nate.com

In [160]:
# 데이터 프레임 row 수정
df.loc['d'] = {'name2': 'olivevolcano2', 'email2':'olivevolcano2@nate.com', 'id': 3.0}
print(df)

           name2                  email2
c      righteous     righteous@gmail.com
d  olivevolcano2  olivevolcano2@nate.com
e        dead_pp        deap_pp@nate.com

In [161]:
# 데이터 프레임 row 선택
df.loc['c']

name2               righteous
email2    righteous@gmail.com
Name: c, dtype: object

In [162]:
# 데이터 프레임 row 삭제
df2 = df.drop('c')
print(df2)

           name2                  email2
d  olivevolcano2  olivevolcano2@nate.com
e        dead_pp        deap_pp@nate.com

In [163]:
# 데이터 프레임 column 추가
df['id'] = 0
print(df)

           name2                  email2  id
c      righteous     righteous@gmail.com   0
d  olivevolcano2  olivevolcano2@nate.com   0
e        dead_pp        deap_pp@nate.com   0

In [173]:
# 데이터 프레임 column 수정
df['id'] = range(1,4)
print(df)

           name2                  email2  id
c      righteous     righteous@gmail.com   1
d  olivevolcano2  olivevolcano2@nate.com   2
e        dead_pp        deap_pp@nate.com   3

In [166]:
# 데이터 프레임 column 선택
df['name2']

c        righteous
d    olivevolcano2
e          dead_pp
Name: name2, dtype: object

In [167]:
# 데이터 프레임 column 삭제
df2 = df.drop('id', axis=1)
print(df2)

           name2                  email2
c      righteous     righteous@gmail.com
d  olivevolcano2  olivevolcano2@nate.com
e        dead_pp        deap_pp@nate.com

In [168]:
# 데이터 프레임 타입 확인
df.dtypes

name2     object
email2    object
id         int32
dtype: object

In [169]:
# 데이터 프레임 타입 수정
df = df.astype({'id': 'float'})
df.dtypes

name2      object
email2     object
id        float64
dtype: object

In [170]:
# 상위 데이터 출력
print(df.head(2))

           name2                  email2   id
c      righteous     righteous@gmail.com  1.0
d  olivevolcano2  olivevolcano2@nate.com  2.0

In [171]:
# 하위 데이터 출력
print(df.tail(2))

           name2                  email2   id
d  olivevolcano2  olivevolcano2@nate.com  2.0
e        dead_pp        deap_pp@nate.com  3.0